<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Record Break: Album Submit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="container text-center">
	<header>
		Add an album for...
	</header>
	<br>
</div>	

</html>