
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Record Break: Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<div class="container text-center">
  <header class="bar">
  <h2>Record Break</h2>
  <br>
  <h6>Personal album organizer and database.</h6>
  <br>
  </header>
  <div id="row">
    <div class="col-sm-4">
      <p><a href="<%= "/artists" %>"><button class="btn" id="ar"><strong>Artists</strong></button></a></p><br>
        <img src="http://cdn4.pitchfork.com/albums/15177/homepage_large.0a8ca885.jpg" alt="link" class="home_img" id="stooge1">
      <p id="ardis"></p>
    </div>
    <div class="col-sm-4">
      <p><a href="<%= "/albums" %>"><button class="btn" id="al"><strong>Albums</strong></button></a></p><br>
      <img src="http://www.xxlmag.com/files/2015/05/Gang-Starr-Daily-Operation.jpg" alt="link" class="home_img" id="stooge2">
      <p id="aldis"></p>
    </div>
    <div class="col-sm-4">
      <p><a href="<%= "/genres" %>"><button class="btn" id="gen"><strong>Genres</strong></button></a></p><br>
      <img src="https://upload.wikimedia.org/wikipedia/en/4/4a/Point_of_Departure.jpg" alt="link" class="home_img" id="stooge3">
      <p id="gendis"></p>
    </div>
  </div>

  
</div>
</html>
